
valheim.exe
valheim.exe - Ярлик.lnk
valheim_Data/app.info
valheim_Data/boot.config
valheim_Data/globalgamemanagers
valheim_Data/globalgamemanagers.assets
valheim_Data/globalgamemanagers.assets.resS
valheim_Data/level0
valheim_Data/level0.resS
valheim_Data/level1
valheim_Data/level2
valheim_Data/level3
valheim_Data/level4
valheim_Data/level4.resS
valheim_Data/Managed/assembly_googleanalytics.dll
valheim_Data/Managed/assembly_guiutils.dll
valheim_Data/Managed/assembly_lux.dll
valheim_Data/Managed/assembly_postprocessing.dll
valheim_Data/Managed/assembly_simplemeshcombine.dll
valheim_Data/Managed/assembly_steamworks.dll
valheim_Data/Managed/assembly_sunshafts.dll
valheim_Data/Managed/assembly_utils.dll
valheim_Data/Managed/assembly_valheim.dll
valheim_Data/Managed/EditorToUnityLinkerData.json
valheim_Data/Managed/Mono.Security.dll
valheim_Data/Managed/mscorlib.dll
valheim_Data/Managed/response.rsp
valheim_Data/Managed/System.Configuration.dll
valheim_Data/Managed/System.Core.dll
valheim_Data/Managed/System.dll
valheim_Data/Managed/System.Xml.dll
valheim_Data/Managed/TypesInScenes.xml
valheim_Data/Managed/UnityEngine.AIModule.dll
valheim_Data/Managed/UnityEngine.AndroidJNIModule.dll
valheim_Data/Managed/UnityEngine.AnimationModule.dll
valheim_Data/Managed/UnityEngine.AssetBundleModule.dll
valheim_Data/Managed/UnityEngine.AudioModule.dll
valheim_Data/Managed/UnityEngine.ClothModule.dll
valheim_Data/Managed/UnityEngine.CoreModule.dll
valheim_Data/Managed/UnityEngine.DirectorModule.dll
valheim_Data/Managed/UnityEngine.dll
valheim_Data/Managed/UnityEngine.GridModule.dll
valheim_Data/Managed/UnityEngine.IMGUIModule.dll
valheim_Data/Managed/UnityEngine.InputLegacyModule.dll
valheim_Data/Managed/UnityEngine.InputModule.dll
valheim_Data/Managed/UnityEngine.ParticleSystemModule.dll
valheim_Data/Managed/UnityEngine.Physics2DModule.dll
valheim_Data/Managed/UnityEngine.PhysicsModule.dll
valheim_Data/Managed/UnityEngine.ScreenCaptureModule.dll
valheim_Data/Managed/UnityEngine.SharedInternalsModule.dll
valheim_Data/Managed/UnityEngine.SubsystemsModule.dll
valheim_Data/Managed/UnityEngine.TerrainModule.dll
valheim_Data/Managed/UnityEngine.TextRenderingModule.dll
valheim_Data/Managed/UnityEngine.TilemapModule.dll
valheim_Data/Managed/UnityEngine.UI.dll
valheim_Data/Managed/UnityEngine.UIElementsModule.dll
valheim_Data/Managed/UnityEngine.UIModule.dll
valheim_Data/Managed/UnityEngine.UnityAnalyticsModule.dll
valheim_Data/Managed/UnityEngine.UnityWebRequestModule.dll
valheim_Data/Managed/UnityEngine.UnityWebRequestWWWModule.dll
valheim_Data/Managed/UnityEngine.VFXModule.dll
valheim_Data/Managed/UnityEngine.VideoModule.dll
valheim_Data/Managed/UnityEngine.VRModule.dll
valheim_Data/Managed/UnityEngine.XRModule.dll
valheim_Data/Managed/UnityLinkerToEditorData.json
valheim_Data/Plugins/Steamworks.NET.txt
valheim_Data/Plugins/x86_64/steam_api64.dll
valheim_Data/resources.assets
valheim_Data/resources.assets.resS
valheim_Data/Resources/unity default resources
valheim_Data/Resources/unity_builtin_extra
valheim_Data/sharedassets0.assets
valheim_Data/sharedassets0.assets.resS
valheim_Data/sharedassets1.assets
valheim_Data/sharedassets1.assets.resS
valheim_Data/sharedassets1.resource
valheim_Data/sharedassets2.assets
valheim_Data/sharedassets3.assets
valheim_Data/sharedassets3.assets.resS
valheim_Data/sharedassets3.resource
valheim_Data/sharedassets4.assets
valheim_Data/sharedassets4.assets.resS
MonoBleedingEdge/EmbedRuntime/mono-2.0-bdwgc.dll
MonoBleedingEdge/EmbedRuntime/MonoPosixHelper.dll
MonoBleedingEdge/etc/mono/2.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/2.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/2.0/machine.config
MonoBleedingEdge/etc/mono/2.0/settings.map
MonoBleedingEdge/etc/mono/2.0/web.config
MonoBleedingEdge/etc/mono/4.0/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.0/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.0/machine.config
MonoBleedingEdge/etc/mono/4.0/settings.map
MonoBleedingEdge/etc/mono/4.0/web.config
MonoBleedingEdge/etc/mono/4.5/Browsers/Compat.browser
MonoBleedingEdge/etc/mono/4.5/DefaultWsdlHelpGenerator.aspx
MonoBleedingEdge/etc/mono/4.5/machine.config
MonoBleedingEdge/etc/mono/4.5/settings.map
MonoBleedingEdge/etc/mono/4.5/web.config
MonoBleedingEdge/etc/mono/browscap.ini
MonoBleedingEdge/etc/mono/config
MonoBleedingEdge/etc/mono/mconfig/config.xml
OnlineFix.ini
OnlineFix.url
OnlineFix64.dll
SkToolbox Readme.txt
steam_appid.txt
SteamOverlay64.dll
UnityCrashHandler64.exe
UnityPlayer.dll
dlllist.txt
