## Settings file was created by plugin Mead Base Icon Fix v1.0.2
## Plugin GUID: org.davidwofford.plugins.meadbaseiconfix

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enabled = true

## Nexus mod ID for updates
# Setting type: Int32
# Default value: 710
NexusID = 710

